//
//  CommonCrypto.xcconfig
//  Square1Tools
//
//  Created by Roberto Pastor Ortiz on 9/2/18.
//  Copyright © 2018 Square1. All rights reserved.
//

MODULEMAP_FILE[sdk=iphoneos*]  = \$(SRCROOT)/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = \$(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
